# Python
*.pyc
__pycache__/
venv/
.eggs/
*.egg-info
dist/
build/
optuna_dashboard/public/
jupyterlab/jupyterlab_optuna/vendor/

# JS
node_modules/
pkg/

# VSCode
vscode/assets/
*.vsix

# Databases
*.sqlite3
*.db

# Docs
docs/_build/
docs/_generated/

# Rust
rustlib/target/
rustlib/pkg/

# Test
.coverage
.coverage.*
coverage.xml
tslib/storage/test/asset/
tslib/react/test/browser/__screenshots__

# Others
.envrc
.idea/
.vscode/
.DS_Store
tmp/

