# project dependency
optuna>=2.4
bottle
scikit-learn
typing-extensions;python_version<"3.8"

# lint
black
flake8
isort
mypy-boto3-s3
mypy

# unit test
boto3
moto[s3]

# visual regression tests
pyppeteer
pytest-playwright

# docs
sphinx
sphinx_rtd_theme
