name: e2e-tests
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/integration-tests.yml'
      - '**.py'
      - '**.ts'
      - '**.tsx'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        optuna-version: ['optuna==2.10.0', 'git+https://github.com/optuna/optuna.git']
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
      - run: npm run build:dev

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          architecture: x64

      - name: Setup Optuna ${{ matrix.optuna-version }}
        run: |
          python -m pip install --progress-bar off --upgrade pip setuptools
          python -m pip install --progress-bar off --upgrade ${{ matrix.optuna-version }}

      - name: Install dependencies
        run: |
          python -m pip install --progress-bar off .
          python -m pip install --progress-bar off pytest-playwright

      - name: Install the required browsers
        run: playwright install

      - name: Run e2e tests
        run: pytest e2e_tests
