name: Build Python distributions and create GitHub Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  github-release:
    name: Build and publish Python distributions to TestPyPI and PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '20'
    
      - name: Build bundle.js
        working-directory: optuna_dashboard
        run: |
          npm install
          npm run build:prd

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install --progress-bar off wheel twine build
      - run: python -m build --sdist --wheel
      - run: twine check dist/*

      - name: Create GitHub release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export TAGNAME=$(jq --raw-output .ref "$GITHUB_EVENT_PATH" | sed -e "s/refs\/tags\///")
          cp ./optuna_dashboard/public/bundle.js ./dist/
          cp ./optuna_dashboard/public/bundle.js.LICENSE.txt ./dist/
          gh release create ${TAGNAME} --draft dist/*
