name: Build Python distributions and publish to PyPI

on:
  release:
    types:
      - published

jobs:
  pypi:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '20'
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install --progress-bar off wheel twine build

    - run: make python-package

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
